.search-box {
  width: 392px;
  height: 48px;
  margin: 8px;
  border-radius: 8px;

  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}

.search-box form {
  display: flex;
  flex-direction: row;

  height: 100%;
}

.search-box form input {
  flex: 1;

  border: none;
  outline: none;
  background: none;
}
