.search-result {
  display: flex;
  flex-direction: column;

  min-height: 112px;
  padding: 10px 18px 10px 24px;

  cursor: pointer;
  border-bottom: 1px solid #e6e6e6;
}

.search-result:hover {
  background-color: #fafafa;
}
