:root {
  --search-results-bg-color: #FFF;
  --result-text-color: #000;
  --result-details-color: #70757A;
}

[data-theme="dark"] {
  --search-results-bg-color: #1B1B1B;
  --result-text-color: #FFF;
  --result-details-color: #A7A7A7;
}

.search-results {
  overflow-y: auto;
  
  background-color: var(--search-results-bg-color);
  border-top: 1px solid #e6e6e6;
}

.search-results.empty {
  padding: 18px 24px;
}

.search-results h4 {
  margin: 0;
  
  color: var(--result-text-color);
  font-size: 16px;
  font-weight: 500;
}

.search-results p {
  margin: 4px 0;

  color: var(--result-details-color);
  font-size: 13px;
}

.search-results p.call-to-action {
  margin: 18px 0 0;
}

.search-results a {
  color: #3771E0;
  font-size: 13px;
  text-decoration: none;
}

.search-results a:hover {
  text-decoration: underline;
}
