:root {
  --evidence-title: #000;
  --evidence-description: #70757A;
}

[data-theme="dark"] {
  --evidence-title: #FFF;
  --evidence-description: #A7A7A7;
}

.evidence {
  display: flex;
  flex-direction: column;
}

.evidence > h4 {
  margin: 24px 0 0 0;
  padding: 0 24px;

  color: var(--evidence-title);
  font-size: 16px;
  font-weight: 500;
}

.evidence > p {
  margin: 12px 0;
  padding: 0 24px;

  color: var(--evidence-description);
  font-size: 13px;
}
