.result-details {
  flex: 1;
  
  overflow-y: auto;
}

.result-details .header {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.result-details .header h3 {
  margin: 0;
  padding: 12px 18px 0 18px;

  font-size: 22px;
}

.result-details .header p {
  margin: 0;
  padding: 8px 18px 16px 18px;

  color: #70757a;
  font-size: 14px;
}

.result-details .divider {
  height: 1px;
  background-color: #e6e6e6;
}

.results-details-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
